@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: 'Inter', sans-serif;
  --font-corda: 'Cormorant Garamond', serif;
}

.font-sans {
  font-family: var(--font-sans);
}

.font-corda {
  font-family: var(--font-corda);
}

@layer utilities {
  .group:hover .group-hover\:opacity-20 {
    opacity: 0.2;
  }
  .group:hover .group-hover\:scale-150 {
    --tw-scale-x: 1.5;
    --tw-scale-y: 1.5;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
}

@keyframes blink {
  20% { opacity: 1; }
  70% { opacity: 0; }
  90% { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 1; }
}

.blink-citingale {
  animation: blink 2s 10;
  font-weight: normal;
  color: #DC143C;
}

.highlight-citingale {
  background-color: #ffff00;
  padding: 0 2px;
}

.annotation {
  border-bottom: 2px solid #4a90e2;
  position: relative;
  cursor: help;
}

.annotation::after {
  content: attr(data-ner);
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #055dc2;
  color: white;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: 0.8em;
  opacity: 0;
  transition: opacity 0.2s;
}

.ner-label {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.annotation:hover::after {
  opacity: 0.7;
}

.fair-principles-link {
  position: relative;
  text-decoration: underline;
  cursor: help;
}

.fair-principles-link::after {
  content: "The FAIR Guiding Principles for scientific data management and stewardship aim to improve the Findability, Accessibility, Interoperability, and Reuse of digital assets.";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  z-index: 1000;
}

.fair-principles-link:hover::after {
  opacity: 1;
}

